<div class="row pie-charts">
  <div class="pie-chart-item-container" ng-repeat="chart in charts">
    <div ba-panel>
      <div class="pie-chart-item">
        <div class="chart" rel="{{ ::chart.color }}" data-percent="100"> <span class="percent"></span> </div>
        <div class="description">
          <div>{{ ::chart.description }}</div>
          <div class="description-stats">{{ ::chart.stats }}</div>
        </div>
        <i class="chart-icon i-{{ ::chart.icon }}"></i>
      </div>
    </div>
  </div>
  <div class="pie-chart-item-container">
    <div ba-panel>
      <div class="pie-chart-item">
        <div class="chart" rel="rgba(255, 255, 255, 0.2)" data-percent="100"> <span class="percent"></span> </div>
        <div class="description">
          <div>Balance</div>
          <div class="description-stats">{{balance.split('.')[0]}}ETH</div>
        </div>
        <i class="chart-icon i-money"></i>
      </div>
    </div>
  </div>
</div>