<div class="horizontal-scroll" class="viewport100">
  <table class="table table-hover">
    <thead>
    <tr class="black-muted-bg">
      <th class="browser-icons"></th>
      <th class="align-right">Device</th>
      <th class="align-right">Owner</th>
      <th class="align-right">Type</th>
      <th class="align-right">Bounty</th>
      <th class="align-right"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in jobs" ng-if="item.state.toNumber() !== 1 && item.state.toNumber() !== 2" class="no-top-border" ng-click="setMarker(item.location)">
      <td><img width=20 height=20 class="photo-icon" ng-src="{{::( item.owner.split(' ')[0] | profilePicture )}}"></td>
      <td class="align-right">{{item.name}}</td>
      <td class="align-right">{{item.owner}}</td>
      <td class="align-right">{{item.type}}</td>
      <td class="align-right"><img style="width:20px; padding-right:5px" src="assets/img/app/profile/Eth.png">{{item.bounty/1000000000000000000}}</td>
      <td class="align-right"><btn ng-click="takeJob(item.id)" class="btn btn-success btn-xs">Take</btn></td>
    </tr>
    </tbody>
  </table>
</div>