<div class="widgets">

  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div ba-panel ba-panel-title="Hover Rows" ba-panel-class="with-scroll table-panel" class="viewport100">
        <div include-with-scope="app/pages/tables/widgets/hoverRows.html"></div>
      </div>
    </div>
    <!--
    <div class="col-lg-6 col-md-12">
      <div ba-panel ba-panel-title="Bordered Table" ba-panel-class="with-scroll table-panel">
        <div include-with-scope="app/pages/tables/widgets/borderedTable.html"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div ba-panel ba-panel-title="Condensed Table" ba-panel-class="with-scroll table-panel">
        <div include-with-scope="app/pages/tables/widgets/condensedTable.html"></div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div ba-panel ba-panel-title="Striped Rows" ba-panel-class="with-scroll table-panel">
        <div include-with-scope="app/pages/tables/widgets/stripedRows.html"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div ba-panel ba-panel-title="Contextual Table" ba-panel-class="with-scroll table-panel">
        <div include-with-scope="app/pages/tables/widgets/contextualTable.html"></div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div ba-panel ba-panel-title="Responsive Table" ba-panel-class="with-scroll table-panel">
        <div include-with-scope="app/pages/tables/widgets/responsiveTable.html"></div>
      </div>
    </div>
  </div>
-->

  <div class="col-lg-6 col-md-12">
    <div ba-panel ba-panel-title="Location" class="viewport100">
      <div id="google-maps"></div>
    </div>
  </div>
</div>